<footer class="footer">
    <div class="container-footer" >
      <div class="row">
        <div class="col-4 column">
          <h4>Siguenos</h4>
          <ul>
            <li><a href="https://www.facebook.com/sicsolucionesvf"><img src="../assets/facebook-w.png" alt="">Facebook</a></li>
            <br>
            <li><a href="http://instagram.com/"><img src="../assets/instagram.png" alt="">Instagram</a></li>
            <br>
            <li><img src="../assets/gorjeo.png" alt=""> Twitter</li>
            <br>
            <li><img src="../assets/whatsapp-w.png" alt=""> WhatsApp</li>
          </ul>
        </div>
        <div class="col-4 column">
          <h4>Soporte</h4>
          <ul>
            <li><a data-target="#modalUbicacion"><img src="../assets/mapa.png" alt="">Ubicacion</a></li>
            <br>
            <li><img src="../assets/apoyar.png" alt="">  Servicio tecnico</li>
            <br>
            <li><img src="../assets/mano.png" alt="cotizaciones"> Cotizaciones</li>
            <br>
            <li><img src="../assets/factura1.png" alt="facturas">Facturas</li>
          </ul>
        </div>
        <div class="col-4 column">
          <h4>Tienda</h4>
          <ul>
            <li><img src="../assets/tienda.png" alt="">Servicios</li>
            <br>
            <li><img src="../assets/escritorio.png" alt="">Muebles para oficina</li>
            <br>
            <li><img src="../assets/decision-de-compra.png" alt=""> Consumubles</li>
            <br>
            <!--<li><img src="../assets/cctv.png" alt=""> Central de seguridad</li>-->
          </ul>
        </div>
      </div>    
      
    </div>
    <div>
    </div>
    <h5 class="container">Soluciones integrales de computo</h5>    
    <!-- <div class="row container-footer">
      <div class="col-4">
        <p>Autor: Jose Ali Mendoza Armas &copy;</p>
      </div>
    </div> -->
  </footer> 