
<div class="col-3 bg-light p-3 border">
    .col-6 .col-sm-4  
    <p>quotation works!</p>
<p>aklsjdklajdklajslkdjasdddddddddddddddddddddddddddddddd
    asdalñsdkalñkdlñaskdlñaksdlñaskdlñaksdlñaksdñlakslñdkañslda
    sdaksdlakdlñkañsdlkañldkañlsdkñalskdñlaskdñlaskdñlakd
    asdklakjsdlasdlkjasdkljaslkdjalksdjlaksjdklajdad
    asdklajdlkajdkl jaldjklasjdklajdlkad

</p>
</div>
<div class="wrapper fadeInDown mt-5">
    <div id="formContent">
    <button type="button" style="margin: 10px" class="btn btn-primary" (click)="Gquotation()">Cotizacion</button>

</div>
</div>