.btnV button{
    color: black;
}
.btnV:hover button{
    color: white;
}

.contenedor{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contenedor img{
    width: 200px;
    height: 200px;
}
h1,h2,h3,h4,h5,h6{
    color: #33496D;
    font-family: 'Oswald', sans-serif;
}