<br><br><br><br>
<div class="login d-flex justify-content-center align-items-center flex-column">
  <div class="card border-dark mb-3 " style="max-width: 20rem;">
    <div class="card-img-top align-center d-flex justify-content-center payment-logo">
      <img src="../assets/usuario.png" alt="">
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="card-body">
    <form [formGroup]="loginForm">
      <div class="form-group uk-text-bolder">
        <div class="form-row col-md-15">
          <div class="form-group login-auth">
            <img src="../assets/user-3-fill.png" alt="">
            <label for="user">Usuario</label>
            <input type="text" class="form-control" name="userEmail" formControlName="user">
            <br>
            <img src="../assets/lock-password-fill.png" alt="">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="userPassword" formControlName="password">
          </div>
        </div>
        <button class="btn btn-outline-primary btn-sm btn-block" (click)="login()">Login</button>
        <br>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#staticBackdrop">
          ¿Olvidaste tu contraseña?
        </button>
      </div>
      <h6 style="background-color: #A0DFFF;">Ingresa con tus redes sociales</h6>
      <div class="row register-auth">
        <div class="col-6">
          <button class="ui inverted grey button btn-block btn-sm " (click)="onRegisterGoogle()">
            <img src="../assets/google.png" alt="">
          </button>
        </div>
        <div class="col-6">
          <button class="ui blue button btn-block btn-sm" (click)="onRegisterFacebook()">
            <img src="../assets/facebook-w.png" alt="">
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Recuperacion de contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-12">
          <h6>Imgresa tu correo electronico</h6>
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" [formControl]="resetEmail"
            formControlName="emailReset">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="resetPassword()">Enviar</button>
      </div>
    </div>
  </div>
</div>