<div class="cover">
  <div class="title">
    <h1>
      Preguntas frecuentes
    </h1>
  </div>
</div>

<br><br>
<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      <img src="assets/g12256.png" alt="ayuda">
      <div>
        <br><br><br><br>
        <h4 class="ui horizontal divider header">
          <i class="life ring icon"></i>
        </h4>
      </div>
      <!-- <img src="assets/cardFAQ.jpg"> -->
      <br><br>
      <div class="card">
        <div class="content">
          <div class="header header1">
            <h5>Contactanos</h5>
          </div>
          <br>
          <div class="meta">
            Ayuda personalizada
          </div>
          <br>
          <div class="description">
            Contactanos nosotros te ayudaremos a solucionar tus problemas
          </div>
        </div>
        <div class="uk-animation-toggle  d-grid gap-2">
          <button
            class="uk-card uk-card-default uk-card-body uk-animation-shake fluid ui button ui inverted green button">
            <a
              href="https://api.whatsapp.com/send?phone=529613603790&text=Necesito ayuda con la pagina image=assets/whatsappFAQ.jpg">
              <img src="assets/whatsappFAQ.png" alt="">
            </a>
          </button>
        </div>
      </div>
    </div>
    <div class="ten wide column uk-accordion">
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">
            <h3>Como registrarse</h3>
          </a>
          <div class="uk-accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">
            <h3>Olvidaste tu contraseña</h3>
          </a>
          <div class="uk-accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">
            <h3>Como cotizar</h3>
          </a>
          <div class="uk-accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">
            <h3>Como comprar</h3>
          </a>
          <div class="uk-accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">
            <h3>Como facturar</h3>
          </a>
          <div class="uk-accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="three wide column">
      <div class="card">
        <div class="content">
          <div class="header header1">
            <h5>Contactanos</h5>
          </div>
          <br>
          <div class="meta">
            Ayuda personalizada
          </div>
          <br>
          <div class="description">
            Contactanos nosotros te ayudaremos a solucionar tus problemas
          </div>
        </div>
        <div class="uk-animation-toggle d-grid gap-2">
          <button
            class="uk-card uk-card-default uk-card-body uk-animation-shake fluid ui button ui inverted blue button">
            <img src="assets/messenger.png" alt="">
          </button>
        </div>
      </div>
      <br><br>
      <h4 class="ui horizontal divider header">
        <i class="life ring icon"></i>
      </h4>
      <br><br>
      <img src="assets/preguntaMa.png">
    </div>
  </div>
</div>
<div>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: 'v10.0'
      });
    };
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- Your Chat Plugin code -->
  <div class="fb-customerchat" attribution="setup_tool" page_id="103888928482873">
  </div>
</div>
<!-- Load Facebook SDK for JavaScript -->