@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.cover {
    height: 200px;
    background-image: url("/assets/freq.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.cover h1{
    color: linen;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight:normal;
}
h5{
    font-weight: 300;
}
.f{
    margin-top: 100px;
    margin-bottom: 200px;

}
.title{
    text-align-last: center;
    text-align: center;
}
.accordion-button{
    background-color:white;
    color: black;
}
.accordion-button:hover{
    background-color: black;
    color: white;
}
.accordion-button{
    width: 800px;
    height: 60px;
    border-style: none;
    /*margin-top: 30px;*/
}
.accordion{
    align-items: center;
    align-content: center;
    text-align: center;
}
.accordion-item h3{
    text-align: left;
    margin-left: 10px;
}
.card img{
    width: 50px;
    height: 50px;
}

.header{
    margin: 10px;
}
.header h5{
    margin-top: 10px;
    text-align: center;
}